.body{
    font-family: "Louis Vuitton Web","Helvetica Neue","Helvetica",Arial,sans-serif;
    background-color: bisque;}
.boxdetail{
    padding-left: 3.125vw;
    padding-right: 3.125vw;
    padding-top: 3rem;
}
