div{
    margin: 0%;
}
body{
    margin: 0%;
}
.border-lightgray{
    outline:lightgray solid 0.5px;
    outline-offset: -0.5px;
}
.slide-pic{
    width: 100%;
    overflow: hidden;
}
.slide{
    position: relative;
    width: 100%;
    height: 80vh;
    margin-top: 112px;
}
.slide-element{
    outline:lightgray solid 1px;
    outline-offset: -1px;
    height: 80vh;
    background-color: white;
    position: absolute;
}
.head{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 200%;
    padding: 1vw;
}
.head-col{
    margin:0 3vw 0 3vw;
    font-size: 170%;
}
.menu-bar{
    height: 20vh;
    width: 100%;
}
.button-group{
    margin-top: 4vh;
}
.btn-next{
    z-index: 3;
    position: absolute;
    margin-top: 10%;
    right: 0;
    width: 55px;
    height: 55px;
    border: none;
    outline: none;
}
.btn-prev{
    z-index: 3;
    position: absolute;
    margin-top: 10%;
    width: 55px;
    height: 55px;
    border: none;
    outline: none;

}
.btn-link {
    text-align: center;
    margin-left: 30.5vw;
    background-color: rgb(0, 0, 0) !important;
    padding: 1rem 5rem 1rem 5rem;
    text-decoration-line: none;
    color: white !important;
    transition:color 0.5s, background-color 0.5s !important;
}
.btn-link:hover{
    background-color: white !important;
    color: black !important;
}
.btn-link2{
    text-align: center;
    margin-left: 0.5vw;
    background-color: rgb(255, 255, 255) !important;
    padding:1rem 5rem 1rem 5rem;
    text-decoration-line: none;
    color: rgb(0, 0, 0) !important;
    outline: rgb(0, 0, 0) solid 1px;
    outline-offset: -1px; 
    transition: outline 0.5s; 
}
.btn-link2:hover{
    outline: #fff solid 1px;
}
.mosaepic{
    position: relative;
    width: 85%;
    margin: 3vw;
}
.mosaepic2{
    margin: 3vh 2vw 3vh 2vw;
}
.row1{
    position: relative;
    width: 100%;
    height: 140vh;
}
.row2{
    width: 100%;
    height: 50vh;
}
.col-1-ex{
    position: absolute;
    outline:lightgray solid 1px;
    outline-offset: -1px;
    width: 50%;
    height: 100%;
}
.col-2-ex{
    outline:lightgray solid 1px;
    outline-offset: -1px;
    padding-top: 20vh;
    position: absolute;
    width: 50%;
    height: 60vh;
    right: 0;
}
.col-3-ex{
    outline:lightgray solid 1px;
    outline-offset: -1px;
    position: absolute;
    width: 50%;
    margin-top: 60vh;
    height: 80vh;
    right: 0;
}
.col-1-r{
    outline:lightgray solid 1px;
    position: absolute;
    outline-offset: -1px;
    height: 50vh;
    width: 33.33%;
}
.col-2-r{
    outline:lightgray solid 1px;
    position: absolute;
    outline-offset: -1px;
    height:50vh;
    margin-left: 33.33%;
    width: 33.33%;
}
.col-3-r{
    outline:lightgray solid 1px;
    position: absolute;
    right: 0;
    outline-offset: -1px;
    height: 50vh;
    width: 33.33%;
}
.mosae-element{
    border: 1px solid lightgrey;
    position: absolute;

}
#pic1{
    z-index: 0;
}
#pic2{
    z-index: -1;
}
#pic3{
    z-index: -2;
}
#pic4{
    z-index: -3;
}