.container-fluid.menutop1{ 
    border-bottom: 2px solid rgb(246, 245, 243); 
    height:40px !important;
    background-color: white;
}
.container-fluid{
    padding: 0;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent !important;
}
.navbar{
    position: fixed;
    margin-bottom: 0px;
    min-height: auto;
    height: 110px;
    padding: 0;
}
.menu1{        
    height:40px !important;
    margin-left: 15px;
    width: fit-content;
    padding: 10px;
    margin-top: -3.5px !important;
}
.nav-autoslide{
    top: 0px;
    transition: top 0.5s;
}

.container-fluid.menutop2{ 
    border-bottom: 2px solid rgb(246, 245, 243); 
    height:72px !important;
    background-color: white;
}

input{
    margin-top: 11.5px;
    margin-right: 47px;
    
}
.link2{
    font-size: 12.5px;
}
svg{
    margin-left: 31px;
    margin-top: 30px;
}
.box{
    width: 820px;
    float: left;
    position: relative;
    list-style-type: none;
    flex-direction: row;
}
.nav.navbar-nav.navbar-right{
    height: 40px;
    flex-direction: row;
}
.nav.navbar-nav.navbar-left{
    flex-direction: row;
}
.icon{
    margin-top: 12px;
    margin-right: 40px;
}
a{
    color: black!important;
    text-decoration: none!important;
}
a:hover{
    text-decoration: none !important;
    color:black !important; 
}

.inline{
    display: inline-block;
    height: 44px;
    margin-right: 31px;
    
}

.dropdown-menu{
    width: 100vw;
    height: 100vh;
}
.btn-close{
    width: 5vw;
    height: 5vw;
    text-align: center;
    background-color: white;
    padding-top: 3.5vh;
    margin-left: 95vw;
    font-weight: 700;
}