.container-fluid.menutop1{ 
    border-bottom: 2px solid rgb(246, 245, 243); 
    height:40px !important;
    background-color: white;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent !important;
}
.menu1{        
    height:40px !important;
    margin-left: 15px;
    

}
.link1{
    margin-top: -3.5px;
}
.container-fluid.menutop2{ 
    border-bottom: 2px solid rgb(246, 245, 243); 
    height:72px !important;
    background-color: white;
}

a.navbar-brand, .link2{
    height: 72px;
    margin-top: 11.5px;
}
input{
    margin-top: 11.5px;
    margin-right: 47px;
    
}
.link2{
    font-size: 12.5px;
}
svg{
    margin-left: 31px;
    margin-top: 30px;
}
.box{
    width: 820px;
}
.nav.navbar-nav.navbar-right{
    height: 40px;
}
.icon{
    margin-top: 12px;
    margin-right: 30px;
}
.icon2{
    margin-right: 65px;
}
a{
    color: black!important;
    text-decoration: none !important;
}
a:hover{
    text-decoration: none !important;
    color:black !important; 
}

.inline{
    display: inline-block;
    margin-top: 28px;
    height: 44px;
    margin-right: 31px
    
}
.dropdown-menu{
    width: 0px;
}