@import url(//db.onlinewebfonts.com/c/35e5d1a7aa6da471de4cfb4a47ebaca8?family=Futura+Std+Book);
body{
    font-family:"Futura Std Book"; src: url("//db.onlinewebfonts.com/t/35e5d1a7aa6da471de4cfb4a47ebaca8.eot"); src: url("//db.onlinewebfonts.com/t/35e5d1a7aa6da471de4cfb4a47ebaca8.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/35e5d1a7aa6da471de4cfb4a47ebaca8.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/35e5d1a7aa6da471de4cfb4a47ebaca8.woff") format("woff"), url("//db.onlinewebfonts.com/t/35e5d1a7aa6da471de4cfb4a47ebaca8.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/35e5d1a7aa6da471de4cfb4a47ebaca8.svg#Futura Std Book") format("svg");
}
.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
    }

.affix + .container-fluid {
    padding-top: 70px;
    }
.newproduct{
    margin-left: -16px;
    margin-top: -8px;
    padding: 16px 24px 16px 44.8438px; 
}
.textNewproduct{
    font-size: 18px;
}
.productonline{
    width: 177.28px;
    height: 72px;
    margin-top: -8px;
    margin-right: 142px;

}
.filter{
    width: 150.14px;
    height: 72px;
    margin-left: -16px;
    margin-top: -72px;
    margin-left: 1193px;
}
.imghover1 {
display: block;
width: 402px;
height: 400px;
background: url('http://image.free.in.th/v/2013/ie/201109092708.png'); /* ที่อยู่รูปภาพที่1 */
transition: 0.3s; 
}
.imghover1:hover {
background-image : url('http://image.free.in.th/v/2013/iv/201109092749.png'); /* ที่อยู่รูปภาพที่2 */
}
.con1{
    margin-left: 18px;
}
.con2{
    margin-left: 18px;
    margin-top: 0px;
}
.con3{
    margin-top:20px;
    margin-left: 18px;
}
.con4{
    
    margin-left: 16px;
    margin-top: 50px;
}
.con5{
    margin-left: 16px;
    margin-top: 10px;
}
.con6{
    margin-left: 16px;
    margin-top: 20px;
}
.button4{
    margin-top: 40px;
    background-color: #ffffff; /* Green */
    border: 0.5px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    width: 240px;
    height: 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;
}
.button4:hover{
    background-color: rgb(233, 231, 231);
    color: black;
    border: none;
}
.opacityimg1{
    opacity:1.0; 
    filter:alpha(opacity=100);
    transition: 0.4s;
}
.opacityimg1:hover
{
opacity: 0;
filter:alpha(opacity=100);
}footer{
    max-width: 100%;
    background-color:#19110b;
    height: 25vh;
    padding: 0 5vw 0 5vw;
    font-weight: 400;
    color: #fff;
  }
  .logo{
    /* padding-top: 4vh; */
    padding-bottom: 4vh;
    border-bottom: 1px solid #392d23;
  }
  .flag-logo{
    margin: 0px 0px 0px 0px !important;
  }
  .lv-logo{
    width: 10vw;
    margin: 3vh 0px 0px 0px !important;
  
  }
  .link-footer{
    margin: 0% 1.5vw 0% 1.5vw;
    text-decoration-line: none;
    color: #fff !important;
    cursor: pointer;
    font-size: 1rem;
  }
  .link-footer:hover {
    color:#fff !important;
  }
  .footer-list{
    display: flex;
    padding-left: 0px;
    padding-top: 4vh;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    flex: 0 0 auto;
  }
  