.container{
    margin: 0px;
    font-family: "Louis Vuitton Web","Helvetica Neue","Helvetica",Arial,sans-serif;}
.boxdetail{
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    width: auto;
    height: auto;
    background: burlywood;
    float: left;
}
.clearfix{
    clear: both;
}
.detail{
    padding: 48px 33px 33px 33px;
}
.button{
    margin-left: -15px;
    width: 500px;
    height: 50px;
    background: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}
.button-location{
    margin-left: 0px;
    width: 500px;
    height: 50px;
    background: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.button-more{
    background: #ffffff;
    border: 0px solid #ffffff;
    text-decoration: underline;

}
.text-end{
    margin: 0px auto; 
    font-size: 16px; 
    text-decoration: #000000;

}