.card1 {
    
    width: 403px;
    height: 327.27px;
    text-align: left;
    margin-left: 46px;
}
.card2{
    width: 400px;
  height: 327.27px;
  text-align: left;
  margin-left: 10px;

}
.card3{
    width: 403px;
    height: 327.27px;
    text-align: left;
    margin-left: -26px;
  
  }
  .price {
    color: grey;
    font-size: 22px;
  }
  .lv-smart-picture__object{
      background-color:#f2f2f2;
      width: 403px;
  }
  