.dropdown-menu{
    width: 1000px;
}
.left{
    float: left;
    width: 30%;
    height: 84.5vh;
    
  }
.center{
    display: inline-block;
    width: 32%;
    background-color: rgb(246, 245, 243);
    height: 84.5vh;
    
  }
.right{
    float: right;
    width: 38%;
    height: 84.5vh;
    background-color: aliceblue;
  }
.container-fluid.drop{
    margin-top: 15.5vh;
    padding: 0px;
}

.topic{
    font-size: 16px;
}
.wrap1{
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 1vh;
}
.wrap2{
    margin-bottom: 2vh;
    margin-left: 1vh;
}
.wrap3{
    margin-top: 6vh;
    margin-bottom: 3vh;
    margin-left: 1vh;
}
a{
    color: black!important;
    text-decoration: none !important;
}
a:hover{
    text-decoration: none !important;
    color:gray !important; 
}