footer{
    max-width: 100%;
    background-color:#19110b;
    height: 25vh;
    padding: 0 5vw 0 5vw;
    font-weight: 400;
    color: #fff;
}
.link-footer{
    padding: 0% 1vw 0% 1vw;
    text-decoration-line: none;
    color: #fff;
    cursor: pointer;
}
.footer-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    flex: 1 1 auto;
}